:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --main-bg-color: #fff;
    --main-color: #000;
    --main-bg-secondary-color: #d3dde8;
    --main-secondary-color: #656565;
    --accent-color: #3e7fd3;
    --border-radius: 5px;
    --input-bg-color: #dfdfdf;
    --main-input-bg-color: #f8fbff;
    --danger-color: #c11515;
  }

  body {
    margin: 0;
    padding: 0;
  }

  select {
  
    appearance: none;
    background-image: url("https://img.icons8.com/?size=48&id=85502&format=png");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
  }